@import "../../variables.scss";

#cart-content .storeItem {
  border-bottom: 1px solid $colorDark;
}

.storeItem {
  display: flex;
  padding: 2em 0;
  .item-details {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .name-price,
  .desc-btn-quantity {
    display: flex;
    justify-content: space-between;
    .product-name {
      font-style: italic;
    }
    .product-price-quantity {
      text-align: right;
    }
    .product-price {
      font-weight: 400;
    }
    .product-quantity {
      text-align: right;
      font-weight: 400;
      margin-bottom: 0.5em;
    }
    .addRemove-btn {
      margin-top: 0.5em;
    }
  }
  .image {
    position: relative;
    display: flex;
    left: 0;
    height: 80px;
    width: 80px;
    margin-right: 2em;
    &.triangle:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-left: 40px solid transparent;
      border-right: 40px solid transparent;
      border-bottom: 80px solid palevioletred;
    }
    &.triangle:after {
      content: "";
      position: absolute;
      top: 3px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 37px solid transparent;
      border-right: 37px solid transparent;
      border-bottom: 75px solid $colorLight;
    }
    &.rectangle:before {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-left: 40px solid palevioletred;
      border-right: 40px solid palevioletred;
      border-bottom: 80px solid palevioletred;
    }
    &.rectangle:after {
      content: "";
      position: absolute;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 38px solid $colorLight;
      border-right: 38px solid $colorLight;
      border-bottom: 76px solid $colorLight;
    }
    &.circle:before {
      content: "";
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      border-left: 40px solid palevioletred;
      border-right: 40px solid palevioletred;
      border-bottom: 40px solid palevioletred;
      border-top: 40px solid palevioletred;
    }
    &.circle:after {
      content: "";
      border-radius: 100px;
      position: absolute;
      top: 2px;
      left: 50%;
      transform: translateX(-50%);
      border-left: 38px solid $colorLight;
      border-right: 38px solid $colorLight;
      border-bottom: 38px solid $colorLight;
      border-top: 38px solid $colorLight;
    }
  }
}

@media (max-width: $md) {
  .storeItem {
    flex-direction: column;
    .image {
      display: none;
    }
    .desc-btn-quantity {
      flex-direction: column;
      align-items: start;
      .product-quantity {
        text-align: left;
      }
    }
  }
}
