@import "../../variables.scss";

#contact {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .contact-form {
    display: flex;
    flex-direction: column;
    input {
      flex: 1 1 auto;
      border-radius: 0;
      border: 1px solid #ccc;
      padding: 0.5em;
    }
    & > div {
      display: flex;
    }
    .label-field {
      display: flex;
      margin-top: 1em;
      flex-direction: column;
      width: 100%;
      &:nth-child(2) {
        margin-left: 5px;
      }
    }
    .buttons-container {
      button {
        margin-top: 1em;
        flex: 1 1 auto;
        &:nth-child(2) {
          margin-left: 5px;
        }
      }
    }
  }
  .checkout-cart {
    text-align: right;
    .total-amount {
      border-top: 1px solid $colorDark;
      padding-top: 1em;
      font-size: 2em;
    }
  }
  .checkout-cart,
  .contact-form {
    width: 100%;
  }
}

@media (min-width: $md) {
  #contact {
    flex-direction: row;
    .storeItem {
      justify-content: flex-end;
      justify-content: space-between;
    }
    .storeItem .item-details {
      align-items: flex-end;
      width: inherit;
    }
    .storeItem .image {
      margin-right: 0;
    }
    .product-desc {
      display: none;
    }
    .storeItem .name-price {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .contact-form {
      width: 60%;
      margin-right: 3em;
    }
    .checkout-cart {
      width: 40%;
    }
  }
}
