@import "../../variables.scss";

#header-container {
  position: relative;
  overflow: hidden;
  #header {
    .container {
      display: flex;
      padding: 0 1em;
      justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    padding: 1em 0 0;
    background: $bgLight;
    justify-content: space-between;
    .description,
    .right .cart {
      font-style: italic;
    }
    .logo {
      font-family: "Pacifico", sans-serif;
      font-size: 4em;
      line-height: 1em;
      margin-right: 0.5em;
    }
    .left,
    .right {
      align-items: center;
      display: flex;
      .cart-icon {
        cursor: pointer;
        margin-left: 1em;
      }
      .cart-icon span {
        background: $bgDark;
        color: $colorLight;
        border-radius: 50px;
        padding: 8px;
      }
    }
  }

  #triangles-container {
    position: relative;
    background-size: contain;
    background-image: 
      linear-gradient(
        45deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 50%
      ),
      linear-gradient(
        -45deg,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 50%
      );
    height: 2.5em;
    margin-top: 2em;
    width: 100%;
    background-position: bottom center, bottom center;
    background-size: 2.5em;
    background-repeat: repeat-x;
  }
}

@media (max-width: $md) {
  .description {
    display: none;
  }
}
