@import "../../index.scss";
@import "../../variables.scss";

#header-container {
  position: relative;
  overflow: hidden;
  .header {
    @extend .triangles;
    
    .container {
      display: flex;
      padding: 0 1em;
      justify-content: space-between;
    }
    display: flex;
    flex-direction: column;
    padding: 1em 0 0;
    background-color: $bgLight;
    justify-content: space-between;
    .description,
    .cart-display .cart {
      font-style: italic;
    }
    .logo {
      font-family: "Pacifico", sans-serif;
      font-size: 4em;
      line-height: 1em;
      color: $colorDark;
      text-decoration: none;
      cursor: pointer;
      margin-right: 0.5em;
    }
    .store-name,
    .cart-display {
      align-items: center;
      display: flex;
      .cart-icon {
        cursor: pointer;
        margin-left: 1em;
      }
      .cart-icon span {
        background: $bgDark;
        color: $colorLight;
        border-radius: 50px;
        padding: 8px;
      }
    }
  }
}

@media (max-width: $md) {
  .description {
    display: none;
  }
}
