@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap");
@import "./variables.scss";

* {
  box-sizing: border-box;
  outline-color: coral;
}

body {
  margin: 0;
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h1 {
  margin-bottom: 0.4em;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
button {
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0.6em 2em;
  border: 1px solid $colorDark;
  background: $colorLight;
  font-family: "Playfair Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}
button:hover {
  background: $colorDark;
  color: $colorLight;
}
#main,
#cart,
#contact {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5em;
  margin-top: 3em;
}

// triangle shapes that are rendered across the span of the screen
.triangles::after {
  content: "";
  position: relative;
  background-size: contain;
  width: 100%;
  background-position: bottom center;
  margin-top: 1.5em;
  background-repeat: repeat-x;
  @include triangleStyle;
}
